@import '../reuse';

.icon {
  stroke: $light-2;
  fill: $dark-2;
  height: 24px;
  width: 24px;

  transition: fill 0.2s;

  &:hover {
    @extend .cur-p;
    stroke: $primary-1;
    fill: $primary-1;
  }

  &.stroke-only {
    fill: none;
  }

  &.password-icon {
    fill: none;
    height: 20px;
    width: 20px;
    transition: stroke 0.3s;

    &:hover {
      stroke: $primary-1;
    }
  }
}
