@import '../../reuse';

.app-header {
  padding: 16px 0;
  @extend .d-flex;
  justify-content: flex-start;

  .logo,
  .link {
    text-decoration: none;
    &:visited,
    &:active {
      text-decoration: none;
    }

    color: $primary-1;
  }

  .header-actions {
    @extend .d-flex;
    gap: 12px;
    margin-left: auto;
  }

  .avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;

    &:hover {
      outline: 2px solid $primary-1;
    }

    img {
      height: 100%;
    }
  }
}

.void-svg {
  padding: 48px 0;
  @extend .d-flex;
  flex-direction: column;
  gap: 16px;
  .img-container {
    height: 164px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
