@import '../../_reuse.scss';

@media screen and (min-width: 768px) {
  .sort-card,
  .post-card,
  .new-post-card {
    max-width: 660px;
  }
}

.sort-card {
  @extend .card;
  margin-bottom: 16px;

  h3 {
    margin-bottom: 12px;
  }
  .sort-controls {
    @extend .d-flex;

    button {
      @extend .btn;
      width: 100%;
      padding: 8px;
      background-color: $dark-2;
      color: $white-1;
      border: $border-gray-1;
      font-weight: 600;
      letter-spacing: 0.04cm;

      &:hover,
      &.active {
        background-color: $dark-1;
      }

      &.active {
        color: $primary-1;
      }
    }
  }
}
.post-card {
  @extend .card;
  margin-bottom: 16px;
  transition: background-color 0.2s;

  &:hover {
    background-color: $light-3;
  }

  .post-header {
    @extend .d-flex;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 12px;

    .avatar {
      height: 32px;
      width: 32px;
      border: 2px solid $primary-1;
      border-radius: 50%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .author-details {
      @extend .d-flex;
      gap: 4px;
      margin-bottom: 4px;

      .name {
        &:hover {
          text-decoration: underline;
        }
      }

      .username {
        font-size: 1.2rem;
        color: $light-2;
      }
    }

    .creation {
      font-size: 1.2rem;
      color: $light-2;
    }
  }

  .post-content {
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: $border-gray-1;
  }

  .post-interactions {
    @extend .d-flex;
    gap: 24px;
    justify-content: space-between;

    .interaction {
      @extend .d-flex;
      gap: 4px;
      font-size: 1.4rem;
      color: $light-2;

      &.highlight {
        .icon {
          stroke: $primary-1;
          fill: $primary-1;
        }
      }
    }
  }
}

.new-post-card {
  @extend .card;
  margin-bottom: 24px;
}

.new-post-input,
.edit-post-input {
  height: 64px;
  width: 100%;
  resize: none;
  margin: 16px 0;
  border: none;
  outline: none;
  border-radius: 4px;

  background-color: $light-1;
  color: $white-1;

  &:focus {
    outline: 1px solid $light-2;
  }
}

.edit-post-input {
  height: 128px;
  word-wrap: normal;
}

.post-actions {
  margin-left: auto;

  .actions-container {
    position: absolute;
    width: 100px;
    z-index: 99;
    top: 0;
    left: 25px;
    @extend .card;
    padding: 0;

    @extend .d-flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      @extend .cur-p;
      width: 100%;
      padding: 6px 8px;

      &:hover {
        background-color: $light-1;
      }

      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    .delete {
      color: $danger-1;
    }
  }
}

.delete-post-modal {
  text-align: center;

  h3 {
    font-size: 2.2rem;
    color: $danger-3;
    margin-bottom: 16px;
  }

  button {
    margin-top: 16px;
  }
}
