@import './_reuse.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: $white-1;
  background-color: $dark-1;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $light-1;
  }
}

#root,
body {
  min-height: 100vh;
}

#root {
  max-width: 1040px;
  margin: 0 auto;
}

.layout {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
}

.overlay-enabled {
  overflow: hidden;
}
