@import '../../reuse';

.login-form {
  width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: $border-gray-1;
  border-radius: 8px;
  padding: 24px;

  span {
    display: inline-block;
    margin-bottom: 4px;
  }

  input {
    padding: 8px 4px;
    width: 100%;
    outline: none;
    border: $border-gray-1;
    background-color: $light-1;
    color: $light-4;
    border-radius: 4px;
    letter-spacing: 0.2mm;
  }

  .btn-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 12px;
  }

  .btn-submit {
    cursor: pointer;
    font-family: 'inter', sans-serif;
    outline: none;
    border: none;
    padding: 8px 16px;
    font-size: 1.6rem;
    background-color: $primary-1;
    color: $white-1;
  }

  .btn-test {
    @extend .btn;
    padding: 8px 16px;
    font-size: 1.6rem;
    background: none;
    border: $border-gray-1;
    border-color: $primary-1;
    color: $primary-1;
    transition: background-color 0.2s;

    &:hover {
      background-color: $light-3;
    }
  }

  .login-nudge {
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;

    span {
      margin-top: 8px;
      width: auto;
      cursor: pointer;
      color: $primary-1;
      font-weight: 500;
    }
  }
}

.password-field {
  position: relative;

  input {
    letter-spacing: 0.5mm;
  }
}

.password-icon {
  @extend .cur-p;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-4px, -3px);

  &.highlight {
    .icon {
      stroke: $primary-1;
    }
  }
}
